@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
    <link rel="stylesheet" href="~/css/site_anim.css" />
<h1 class="slide-in-blurred-left">@ViewData["Title"]</h1>

<p class="slide-in-blurred-left">Use this page to detail your site's privacy policy.</p>
