@page
@model ServicesModel
@{
    ViewData["Title"] = "Services";
}
    <link rel="stylesheet" href="~/css/site_anim.css" />
<h1 class="slide-in-blurred-left">@ViewData["Title"]</h1>

<p class="slide-in-blurred-left">Use this page to describe the different services provided by the venture.</p>